@page "/admin-dashboard"
<PageTitle>Admin Dashboard</PageTitle>


<div class="container mt-5">
    <h2 class="text-center fw-bold" style="font-family: Cambria; font-size: 32px;">
        Admin Dashboard
    </h2>
    <p class="text-muted text-center mb-5" style="font-size: 18px;">
        Manage your store — Products, Testimonial, Contact Forms & Settings
    </p>
    <div class="row g-3">
        <!-- All Product -->
        <div class="col-6 col-md-4 col-lg-3" style="margin-top:120px">
            <div class="card shadow-sm border-0 rounded-4 product-card">
                <a href="/admin/products" style="text-decoration:none; color:black;">
                    <img src="Productp.png"
                         class="card-img-top p-4"
                         style="height: 150px; object-fit: contain;" />
                    <div class="card-body text-center">
                        <h5 class="fw-bold">Product</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Testimonial -->
        <div class="col-6 col-md-4 col-lg-3 slide-right">
            <div class="card shadow-sm border-0 rounded-4 product-card">
                <a href="/admin/testimonials" style="text-decoration:none; color:black;">
                    <img src="testimonials-icon.png"
                         class="card-img-top p-4"
                         style="height: 150px; object-fit: contain;" />

                    <div class="card-body text-center">
                        <h5 class="fw-bold">Testimonial</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Contact Forms -->
        <div class="col-6 col-md-4 col-lg-3 slide-right">
            <div class="card shadow-sm border-0 rounded-4 product-card">
                <a href="/admin/contacts" style="text-decoration:none; color:black;">
                    <img src="contact-icon.png"
                         class="card-img-top p-4"
                         style="height: 150px; object-fit: contain;" />

                    <div class="card-body text-center">
                        <h5 class="fw-bold">Contact Forms</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .product-card:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    .slide-right {
        margin-top: 120px;
        margin-left: 120px;
    }
</style>
